* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
body,
html {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
}
#card {
  height: 480px;
  width: 330px;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 30px;
  text-align: center;
}
#card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px;
  object-position: center;
}
#card h1 {
  font-size: 24px;
  margin: 10px 0;
}
#card h5 {
  color: rgb(65, 59, 59);
  font-size: 18px;
  margin: 10px 0;
}
#card button {
  text-align: center;
  background-color: aquamarine;
  padding: 10px;
  font-family: "Gilroy";
  font-weight: 600;
  border-radius: 5px;
  border: none;
  margin: 5px;
  cursor: pointer;
}
